{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
</div>
{% endblock %}

{% block content %}
    <h1>{% trans  "Logs" %}</h1>
    {% block field_sets %}
        {% for log in logs_activity  %}
            <fieldset class="module aligned collapsed">
                <h2>{{ log.name }} - {% trans 'Logic' %} - </h2>

                <h4> {% trans "Variables" %} </h4>
                <table style='width:100%'>
                    <thead>
                        <th colespan='10'> {% trans "Property name" %} </th>
                        <th colespan='2'> {% trans "Value" %} </th>
                    </thead>
                    <tbody>
                        <td>{{log.step_name}} :</td>
                        <td> {% if log.trigger %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %} </td>
                    </tbody>
                </table>

                <h4> {% trans "Logic rules" %} </h4>
                <table style='width:100%'>
                    <thead>
                        <th colespan='10'> {% trans "Rule" %} </th>
                        <th colespan='5'> {% trans "Trigger" %} </th>
                        <th colespan='2'> {% trans "Action" %} </th>
                    </thead>
                    <tbody>
                        <td>{{log.step_name}} :</td>
                        <td> {% if log.trigger %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %} </td>
                        <td>{{log.step_name}} :</td>
                    </tbody>
                </table>
            </fieldset>
        {% endfor %}

        <script>
            let fieldSetTitles = document.querySelectorAll('H2');
            fieldSetTitles.forEach(fieldsetTitle => {
                fieldsetTitle.classList.add('collapsed')
                let toggleLink = document.createElement('a')
                toggleLink.textContent = 'Show'
                toggleLink.href= ""
                toggleLink.style.display = "inline"
                fieldsetTitle.append(toggleLink)

                toggleLink.addEventListener('click', event => {
                    event.preventDefault()
                    if (fieldsetTitle.parentElement.classList.contains('collapsed')) {
                        fieldsetTitle.parentElement.classList.remove('collapsed')
                        event.target.textContent = 'Hide'
                    }
                    else {
                        fieldsetTitle.parentElement.classList.add('collapsed')
                        event.target.textContent = 'Show'
                    }
                })
            })
        </script>
    {% endblock %}
{% endblock %}
