{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "bundles/core-css.css" %}">
{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
</div>
{% endblock %}

{% block content %}
    <h1>{% trans  "Logging" %}</h1>
    {% block field_sets %}
        {% for log in logs_activity  %}
            <fieldset class="module aligned collapsed">
                <h2>{{ log.name|date:'Y-m-d H:i:s' }} - {% trans 'Logic' %} - <a class="collapse-link" data-text-show=" {% trans 'Show' %}" data-text-hide=" {% trans 'Hide' %} " href=""></a> </h2>

                <h4> {% trans "Variables" %} </h4>
                <table class="logic-rules-tables">
                    <thead>
                        <th colespan='10'> {% trans "Property name" %} </th>
                        <th colespan='1'> {% trans "Value" %} </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{log.step_name}} {{log.source_component}}</td>
                            <td>{{log.source_value}}</td>
                        </tr>

                    </tbody>
                </table>

                <h4> {% trans "Logic rules" %} </h4>
                <table class="logic-rules-tables">
                    <thead>
                        <th colespan='10'> {% trans "Rule" %} </th>
                        <th colespan='2'> {% trans "Trigger" %} </th>
                        <th colespan='2'> {% trans "Action" %} </th>
                    </thead>
                    <tbody>

                        {% for action in log.actions %}
                            <tr>
                                <td><b>{{log.step_name}} {{log.source_component}}</b> <i>{{log.operator}}</i> <b> {{log.source_value}}</b> </td>
                                <td> {% if log.trigger %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %} </td>
                                <td> <b>{{action.targeted_component}}</b> <i>{{action.action}}</i> <b>{{action.targeted_value}}</b> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        {% endfor %}
    {% endblock %}
    <script src="{% static "bundles/core-js.js" %}"></script>
{% endblock %}